@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Exo:wght@400;500&display=swap');

* {
    margin: 0;
    font-family: 'Exo', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 90%;
}

